{% extends 'base.html.twig' %}
{% block title %}
    Publier topic
{% endblock %}
{% block body %}

    <div class="product-model">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">Publier un topic</li>
            </ol>
            <h2>Veuillez remplir les champs</h2>
            <div class="contact-form" >

                {{ form_start(form) }}


                {{ form_widget(form) }}

                <input type="submit" value="Publier" id="sub">

                {{ form_end(form) }}
            </div>
        </div>
    </div>


    <style type="text/css">
        #sub {
            display: block;
            margin : auto;
        }

    </style>

{% endblock %}
