<div class="tg-widgetcontent">
    <ul>
        {% for blog in mostLikedBlogs %}
        <li>
            <div class="tg-serviceprovidercontent">
                <div class="tg-companylogo"><a href="#"><img src="images/blog/img-01.jpg" alt="image description"></a></div>
                <div class="tg-companycontent">
                    <div class="tg-title">
                        <h3><a href="#">{{ blog.title }}</a></h3>
                    </div>
                    <div class="tg-adminname">
                        <i class="lnr lnr-user"></i>
                        <span>BY: Tamika Darbonne</span>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a class="tg-btnviewall" href="javascript:void(0);">View All</a>
</div>