<style type="text/css">
    table{width: 100% ; border-collapse: collapse}
    .header td{width: 50%; vertical-align: top}
    .text-left{text-align: left}
    .text-right{text-align: right}
    .text-center{text-align: center}
    .separator{height: 150px; width: 100%}
    .content td{border: solid 1px #CFD1D2; padding: 5px;}
    .content th{border: solid 1px #000000; padding: 5px; background-color: #000000 ; color: #ffffff }
</style>
<table class="header">
    <tr>
        <td class="text-left">
            <b>prenom nom</b>
            <br> Addresse
            <br>Code postale
            <br>Pays
        </td>
        <td class="text-right">
            <b>prenom nom</b>
            <br> Addresse
            <br>Code postale
            <br>Pays
        </td>
    </tr>

</table>
<div class="separator"></div>